#include <windows.h>
#include "ShaderResources.h"

VKRT_RESOURCE_RAYTRACE_GEN_SHADER RCDATA "..\\..\\..\\shaders\\raytrace.rgen.spv"
VKRT_RESOURCE_RAYTRACE_HIT_SHADER RCDATA "..\\..\\..\\shaders\\raytrace.rchit.spv"
VKRT_RESOURCE_RAYTRACE_MISS_SHADER RCDATA "..\\..\\..\\shaders\\raytrace.rmiss.spv"