#include <windows.h>
#include "ShaderResources.h"

// clang-format off

VKRT_RESOURCE_RAYTRACE_GEN_SHADER RCDATA "./raytrace.rgen.spv"
VKRT_RESOURCE_RAYTRACE_HIT_SHADER RCDATA "./raytrace.rchit.spv" 
VKRT_RESOURCE_RAYTRACE_MISS_SHADER RCDATA "./raytrace.rmiss.spv"
VKRT_RESOURCE_RAYTRACE_SHADOW_MISS_SHADER RCDATA "./raytraceShadow.rmiss.spv"
